on: 
  pull_request: 
    branches: main
  push:
    branches: main
  workflow_dispatch:

jobs:
  lint:
    name: Run linter
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Action lint
        uses: raven-actions/actionlint@v2
      
      - name: Markdown lint
        uses: articulate/actions-markdownlint@v1
        with:  
          files: '**/*.md'
          ignore: node_modules
